@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Press+Start+2P&display=swap');

body {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    height: 75vh;
    background-image: linear-gradient(#17082e 0%, #1a0933 60%, #34a2c7 100%);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

.pixel-font {
    font-family: 'Press Start 2P', cursive;
}

.btn-outline-light:hover {
    color: #1A0933 !important;
}

.navbar-brand {
    margin-top: 8px;
}

.navbar-brand img {
    max-width: 190px;
}

.nav-item {
    margin-left: 20px;
    padding: 8px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.hamburger-icon {
    margin-right: 20px;
}

.hamburger-icon span {
    padding: 20px;
}

.main-div {
    margin-top: 180px;
}

/* Audio Control Buttons */
#audio-controls {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 5px;
    padding-right: 15px;
    z-index: 9999;
}

#audio-controls input[type="checkbox"] {
    display: none;
}

#audio-controls label {
    font-size: 30px;
    color: silver;
    opacity: 0.5;
    cursor: pointer;
}

#audio-controls input[type="checkbox"]:checked + label {
    text-shadow: 0 0 0.5em #44d9e8;
    color: #44d9e8;
    opacity: 1;
}

/* Gameplay area */
#game-area {
    margin: 0 auto;
    margin-bottom: 1rem;
}

/* How-to-play */ 

#how-to-play {
    border: 1px solid var(--bs-white);
}





#more-info {
    border: 1px solid var(--bs-white);
}

/* media queries */
@media only screen and (max-width: 600px) {
    .navbar-brand img {
        max-width: 130px;
    }
    .navbar-brand {
        margin: 10px;
    }
    .main-div {
        margin-top: 150px;
    }
}

footer {
    background: linear-gradient(#3DD8FC, #1A0933);
}

footer .container {
    text-align: center;
}

.contributor-header {
    margin-bottom: 1%;
    display: block;
    font-size: 1.2rem;
    color: #1A0933;
}

.contributor-socials {
    padding: 0;
    margin: 0;
    list-style: none;
}

.contributor-socials a {
    color: var(--bs-white);
    text-decoration: none;
}

.contributor-socials a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 400px) {
   .contributor-socials {
       display: flex;
       justify-content: center;
   }

   .contributor-socials li {
       padding: 0 2%;
   }
  }
