
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Press+Start+2P&display=swap');

body {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    height: 75vh;
}

.pixel-font {
    font-family: 'Press Start 2P', cursive;
}

.navbar-brand {
    margin-top: 8px;
}

.navbar-brand img {
    max-width: 190px;
}

.nav-item {
    margin-left: 20px;
    padding: 8px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.hamburger-icon {
    margin-right: 20px;
}

.hamburger-icon span {
    padding: 20px;
}

.main-div {
    margin-top: 180px;
}

/* Gameplay area */
#game-area {
    width: 800px;
    height: 600px;
    margin: 0 auto;
}




/* media queries */
@media only screen and (max-width: 600px) {
    .navbar-brand img {
        max-width: 130px;
    }
    .navbar-brand {
        margin: 10px;
    }
    .main-div {
        margin-top: 150px;
    }
}

footer {
    background: linear-gradient(var(--bs-purple), var(--bs-gray-dark));
    position: sticky;
}

footer .container {
    text-align: center;
}

.contributor-header {
    margin-bottom: 1%;
    display: block;
    font-size: 2rem;
    color: var(--bs-white);
}

.contributor-socials {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 1.2rem;
}

.contributor-socials a {
    color: var(--bs-white);
    text-decoration: none;
}

.contributor-socials a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 400px) {
   .contributor-socials {
       display: flex;
       justify-content: center;
   }

   .contributor-socials li {
       padding: 0 2%;
   }
  }
