@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Press+Start+2P&display=swap');

#index-body {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    height: 75vh;
    background-image: linear-gradient(#17082e 0%, #1a0933 60%, #34a2c7 100%);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;

}

.background-body {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    height: 75vh;
    background-image: linear-gradient(#17082e 0%, #1a0933 60%, #34a2c7 100%);
    background-attachment: fixed;
}
.pixel-font {
    font-family: 'Press Start 2P', cursive;
}

.btn-outline-light:hover {
    text-decoration: underline;
}

.navbar-brand {
    margin-top: 8px;
}

.navbar-brand img {
    max-width: 190px;
}

.nav-item {
    margin-left: 20px;
    padding: 8px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #17082e;
}

.hamburger-icon {
    margin-right: 20px;
}

.hamburger-icon span {
    padding: 20px;
}

.main-div {
    margin-top: 180px;
}

/* Audio Control Buttons */
#audio-controls {
    position: absolute;
    top: 160px;
    right: 50px;
    padding-top: 5px;
    padding-right: 15px;
    z-index: 9999;
}

#audio-controls input[type="checkbox"] {
    display: none;
}

#audio-controls label {
    font-size: 30px;
    color: #F752E0;
    opacity: 0.5;
    cursor: pointer;
}

#audio-controls input[type="checkbox"]:checked + label {
    text-shadow: 0 0 0.5em #f777e6;
    color: #F752E0;
    opacity: 1;
}

/* Gameplay area */
#game-area {
    margin: 0 auto;
    margin-bottom: 110px;
}

/* How-to-play */ 

#how-to-play {
    border: 1px solid var(--bs-white);
}





#more-info {
    border: 1px solid var(--bs-white);
}

/* media queries */
@media only screen and (max-width: 600px) {
    .navbar-brand img {
        max-width: 130px;
    }
    .navbar-brand {
        margin: 10px;
    }
    .main-div {
        margin-top: 150px;
    }
    #audio-controls {
        top: 100px;
        right: 20px;
    }
}

footer {
    background: linear-gradient(#3DD8FC, #1A0933);
}

footer .container {
    text-align: center;
}

.contributor-header {
    margin-bottom: 1%;
    display: block;
    font-size: 1.2rem;
    color: #1A0933;
}

.contributor-socials {
    padding: 0;
    margin: 0;
    list-style: none;
}

.contributor-socials a {
    color: var(--bs-white);
    text-decoration: none !important;
}

.contributor-socials a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 400px) {
   .contributor-socials {
       display: flex;
       justify-content: center;
   }

   .contributor-socials li {
       padding: 0 2%;
   }
  }


button {
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
}

.border-neon {
    background-color: transparent;
    border: 2px solid #8ddff1;
    color: #8ddff1;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
 
.border-neon:hover, .border-neon:focus {
    text-decoration: none;
    -webkit-box-shadow: inset 0px 0px 8px 3px #3DD8FC;
    box-shadow: 0px 0px 10px 3px #3DD8FC, inset 0px 0px 10px 3px #3DD8FC;
    border-color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #3DD8FC, 0 0 40px #3DD8FC, 0 0 50px #3DD8FC, 0 0 60px #3DD8FC, 0 0 70px #3DD8FC
}

.font-neon {
    background-color: transparent;
    color: #FFE161;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
 
.font-neon:hover, .font-neon:focus {
    text-decoration: none;
    color: #f3d033;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #FFE161, 0 0 40px #FFE161, 0 0 50px #FFE161, 0 0 60px #FFE161, 0 0 70px #FFE161
}
